<nav class="main-menu " id="sidebar">
    <ul>
        <li>
            <a href="/main">
                <i class="fas fa-book fa-2x"></i>
                <span class="nav-text">
                    Formulario Básico
                </span>
            </a>
        </li>

        <li>
            <a href="/punto-de-venta">
                <i class="fas fa-money-check-alt fa-2x"></i>
                <span class="nav-text">
                    Punto de Venta
                </span>
            </a>
        </li>

        <li>
            <a href="/ventas">
                <i class="fas fa-list fa-2x"></i>
                <span class="nav-text">
                    Lista de Ventas
                </span>
            </a>
        </li>
        
    </ul>
</nav>